<a href="https://colab.research.google.com/github/rsanlazaro/ImageProcessingFJ26/blob/main/IntroPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Programming

Welcome to this comprehensive introduction to Python programming. This notebook is designed for Google Colab and will guide you through essential Python concepts with practical examples and exercises.

## Course Overview
1. Variables and Data Types
2. Lists and Tuples
3. Dictionaries and Sets
4. Control Structures
5. Functions
6. List Comprehensions
7. File I/O
8. Error Handling
9. Practice Exercises

## 1. Variables and Data Types

Python is dynamically typed, making it easy to work with different types of data. You don't need to declare variable types explicitly.

In [1]:
# Integer
age = 25
year = 2024

# Float
temperature = 23.5
price = 19.99

# String
name = "Alice"
message = 'Hello, World!'

# Boolean
is_student = True
has_license = False

# Print values and their types
print(f"Name: {name}, Type: {type(name)}")
print(f"Age: {age}, Type: {type(age)}")
print(f"Temperature: {temperature}, Type: {type(temperature)}")
print(f"Is student: {is_student}, Type: {type(is_student)}")

Name: Alice, Type: <class 'str'>
Age: 25, Type: <class 'int'>
Temperature: 23.5, Type: <class 'float'>
Is student: True, Type: <class 'bool'>

### Type Conversion

In [2]:
# Converting between types
num_str = "42"
num_int = int(num_str)
num_float = float(num_str)

print(f"String: {num_str}, Type: {type(num_str)}")
print(f"Integer: {num_int}, Type: {type(num_int)}")
print(f"Float: {num_float}, Type: {type(num_float)}")

# Converting numbers to strings
value = 100
value_str = str(value)
print(f"Number as string: '{value_str}'")

String: 42, Type: <class 'str'>
Integer: 42, Type: <class 'int'>
Float: 42.0, Type: <class 'float'>
Number as string: '100'

### Basic Arithmetic Operations

In [31]:
a = 10
b = 3

print(f"Addition: {a} + {b} = {a + b}")
print(f"Subtraction: {a} - {b} = {a - b}")
print(f"Multiplication: {a} * {b} = {a * b}")
print(f"Division: {a} / {b} = {a / b}")
print(f"Floor Division: {a} // {b} = {a // b}")
print(f"Modulus: {a} % {b} = {a % b}")
print(f"Exponentiation: {a} ** {b} = {a ** b}")

Addition: 10 + 3 = 13
Subtraction: 10 - 3 = 7
Multiplication: 10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Floor Division: 10 // 3 = 3
Modulus: 10 % 3 = 1
Exponentiation: 10 ** 3 = 1000

### String Operations

In [32]:
first_name = "John"
last_name = "Doe"

# Concatenation
full_name = first_name + " " + last_name
print(f"Full name: {full_name}")

# String methods
text = "hello world"
print(f"Original: {text}")
print(f"Upper case: {text.upper()}")
print(f"Title case: {text.title()}")
print(f"Capitalized: {text.capitalize()}")

# String formatting
age = 30
message = f"{first_name} is {age} years old"
print(message)

Full name: John Doe
Original: hello world
Upper case: HELLO WORLD
Title case: Hello World
Capitalized: Hello world
John is 30 years old

## 2. Lists and Tuples

### Lists (Mutable)
Lists are ordered, mutable collections that can contain items of different types.

In [5]:
# Creating lists
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
mixed = [1, "hello", 3.14, True]

print(f"Numbers: {numbers}")
print(f"Fruits: {fruits}")
print(f"Mixed: {mixed}")

# Accessing elements (indexing starts at 0)
print(f"\nFirst fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"Second number: {numbers[1]}")

Numbers: [1, 2, 3, 4, 5]
Fruits: ['apple', 'banana', 'cherry']
Mixed: [1, 'hello', 3.14, True]

First fruit: apple
Last fruit: cherry
Second number: 2

### List Operations

In [6]:
# Modifying lists
fruits = ["apple", "banana", "cherry"]

# Adding elements
fruits.append("orange")  # Add to end
print(f"After append: {fruits}")

fruits.insert(1, "mango")  # Insert at position
print(f"After insert: {fruits}")

# Removing elements
fruits.remove("banana")  # Remove specific item
print(f"After remove: {fruits}")

popped = fruits.pop()  # Remove and return last item
print(f"Popped item: {popped}")
print(f"After pop: {fruits}")

# List length
print(f"\nList length: {len(fruits)}")

After append: ['apple', 'banana', 'cherry', 'orange']
After insert: ['apple', 'mango', 'banana', 'cherry', 'orange']
After remove: ['apple', 'mango', 'cherry', 'orange']
Popped item: orange
After pop: ['apple', 'mango', 'cherry']

List length: 3

### List Slicing

In [7]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(f"Original list: {numbers}")
print(f"First three: {numbers[:3]}")
print(f"Last three: {numbers[-3:]}")
print(f"Middle elements: {numbers[3:7]}")
print(f"Every second element: {numbers[::2]}")
print(f"Reversed: {numbers[::-1]}")

Original list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First three: [0, 1, 2]
Last three: [7, 8, 9]
Middle elements: [3, 4, 5, 6]
Every second element: [0, 2, 4, 6, 8]
Reversed: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Tuples (Immutable)
Tuples are ordered, immutable collections.

In [36]:
# Creating tuples
coordinates = (10, 20)
person = ("Alice", 25, "Engineer")

print(f"Coordinates: {coordinates}")
print(f"Person: {person}")

# Accessing tuple elements
x, y = coordinates  # Tuple unpacking
print(f"X: {x}, Y: {y}")

name, age, job = person
print(f"{name} is {age} years old and works as a {job}")

# Methods for tuples
count = person.count("Alice");
print(f"The tuple 'person' contains 'Alice' {count} times")

Coordinates: (10, 20)
Person: ('Alice', 25, 'Engineer')
X: 10, Y: 20
Alice is 25 years old and works as a Engineer
The tuple 'person' contains 'Alice' 1 times

## 3. Dictionaries and Sets

### Dictionaries
Dictionaries store key-value pairs.

In [9]:
# Creating dictionaries
student = {
    'name': 'John',
    'age': 20,
    'major': 'Computer Science',
    'gpa': 3.8
}

print(f"Student: {student}")
print(f"Name: {student['name']}")
print(f"GPA: {student['gpa']}")

# Adding/modifying entries
student['year'] = 3
student['gpa'] = 3.9
print(f"\nUpdated student: {student}")

# Getting keys and values
print(f"\nKeys: {list(student.keys())}")
print(f"Values: {list(student.values())}")

Student: {'name': 'John', 'age': 20, 'major': 'Computer Science', 'gpa': 3.8}
Name: John
GPA: 3.8

Updated student: {'name': 'John', 'age': 20, 'major': 'Computer Science', 'gpa': 3.9, 'year': 3}

Keys: ['name', 'age', 'major', 'gpa', 'year']
Values: ['John', 20, 'Computer Science', 3.9, 3]

### Dictionary Methods

In [39]:
scores = {'Alice': 95, 'Bob': 87, 'Charlie': 92}

# Check if key exists
print(f"'Alice' in scores: {'Alice' in scores}")
print(f"'David' in scores: {'David' in scores}")

# Get with default value
alice_score = scores.get('Alice', 0)
david_score = scores.get('David', 0)
print(f"\nAlice's score: {alice_score}")
print(f"David's score: {david_score}")

# Iterate through dictionary
print("\nAll scores:")
for name, score in scores.items():
    print(f"{name}: {score}")

'Alice' in scores: True
'David' in scores: False

Alice's score: 95
David's score: 0

All scores:
Alice: 95
Bob: 87
Charlie: 92

### Sets
Sets are unordered collections of unique elements.

In [11]:
# Creating sets
fruits = {'apple', 'banana', 'cherry'}
numbers = {1, 2, 3, 4, 5}

# Sets automatically remove duplicates
numbers_with_duplicates = {1, 2, 2, 3, 3, 3, 4, 5}
print(f"Original: {numbers_with_duplicates}")

# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(f"\nSet 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference: {set1 - set2}")

Original: {1, 2, 3, 4, 5}

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

## 4. Control Structures

### If-Else Statements

In [12]:
# Simple if-else
temperature = 25

if temperature > 30:
    print("It's hot!")
elif temperature > 20:
    print("It's warm.")
elif temperature > 10:
    print("It's cool.")
else:
    print("It's cold!")

# Multiple conditions
age = 18
has_id = True

if age >= 18 and has_id:
    print("You can enter.")
else:
    print("You cannot enter.")

It's warm.
You can enter.

### For Loops

In [13]:
# Loop through a list
fruits = ['apple', 'banana', 'cherry']
print("Fruits:")
for fruit in fruits:
    print(f"  - {fruit}")

# Loop through a range
print("\nNumbers from 0 to 4:")
for i in range(5):
    print(i, end=" ")

print("\n\nNumbers from 1 to 5:")
for i in range(1, 6):
    print(i, end=" ")

print("\n\nEven numbers from 0 to 10:")
for i in range(0, 11, 2):
    print(i, end=" ")

Fruits:
  - apple
  - banana
  - cherry

Numbers from 0 to 4:
0 1 2 3 4

Numbers from 1 to 5:
1 2 3 4 5

Even numbers from 0 to 10:
0 2 4 6 8 10

### While Loops

In [14]:
# Basic while loop
count = 0
while count < 5:
    print(f"Count: {count}")
    count += 1

# While with break
print("\nSearching for 'cherry':")
fruits = ['apple', 'banana', 'cherry', 'date']
i = 0
while i < len(fruits):
    if fruits[i] == 'cherry':
        print(f"Found cherry at index {i}!")
        break
    i += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

Searching for 'cherry':
Found cherry at index 2!

### Break and Continue

In [15]:
# Break: exit the loop
print("Using break:")
for i in range(10):
    if i == 5:
        break
    print(i, end=" ")

# Continue: skip to next iteration
print("\n\nUsing continue (skip odd numbers):")
for i in range(10):
    if i % 2 != 0:
        continue
    print(i, end=" ")

Using break:
0 1 2 3 4

Using continue (skip odd numbers):
0 2 4 6 8

## 5. Functions

Functions help organize code and make it reusable.

In [16]:
# Simple function
def greet(name):
    """Greet a person by name."""
    return f"Hello, {name}!"

# Function with multiple parameters
def add(a, b):
    """Add two numbers."""
    return a + b

# Function with default parameters
def power(base, exponent=2):
    """Calculate base raised to exponent (default is 2)."""
    return base ** exponent

# Test functions
print(greet("Alice"))
print(f"3 + 5 = {add(3, 5)}")
print(f"2^3 = {power(2, 3)}")
print(f"5^2 = {power(5)}")  # Uses default exponent

Hello, Alice!
3 + 5 = 8
2^3 = 8
5^2 = 25

### Multiple Return Values

In [17]:
def get_stats(numbers):
    """Calculate min, max, and average of a list."""
    minimum = min(numbers)
    maximum = max(numbers)
    average = sum(numbers) / len(numbers)
    return minimum, maximum, average

data = [10, 20, 30, 40, 50]
min_val, max_val, avg_val = get_stats(data)

print(f"Data: {data}")
print(f"Min: {min_val}")
print(f"Max: {max_val}")
print(f"Average: {avg_val}")

Data: [10, 20, 30, 40, 50]
Min: 10
Max: 50
Average: 30.0

### Lambda Functions
Anonymous functions for simple operations.

In [43]:
# Lambda function
square = lambda x: x ** 2
add = lambda x, y: x + y

print(f"Square of 5: {square(5)}")
print(f"Sum of 3 and 7: {add(3, 7)}")

# Using lambda with map
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(f"\nOriginal: {numbers}")
print(f"Squared: {squared}")

Square of 5: 25
Sum of 3 and 7: 10

Original: [1, 2, 3, 4, 5]
Squared: [1, 4, 9, 16, 25]

## 6. List Comprehensions

A powerful Python feature for creating lists efficiently.

In [19]:
# Basic list comprehension
squares = [x**2 for x in range(10)]
print(f"Squares: {squares}")

# With condition
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(f"Even squares: {even_squares}")

# String manipulation
words = ['hello', 'world', 'python']
upper_words = [word.upper() for word in words]
print(f"\nOriginal: {words}")
print(f"Uppercase: {upper_words}")

# Nested comprehension
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print(f"\nMultiplication table (3x3):")
for row in matrix:
    print(row)

Squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Even squares: [0, 4, 16, 36, 64]

Original: ['hello', 'world', 'python']
Uppercase: ['HELLO', 'WORLD', 'PYTHON']

Multiplication table (3x3):
[1, 2, 3]
[2, 4, 6]
[3, 6, 9]

### Dictionary and Set Comprehensions

In [20]:
# Dictionary comprehension
numbers = [1, 2, 3, 4, 5]
square_dict = {x: x**2 for x in numbers}
print(f"Square dictionary: {square_dict}")

# Set comprehension
even_set = {x for x in range(20) if x % 2 == 0}
print(f"Even numbers set: {even_set}")

Square dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Even numbers set: {0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

## 7. File I/O

### Writing to Files

In [21]:
# Writing to a text file
with open('sample.txt', 'w') as file:
    file.write("Hello, World!\n")
    file.write("This is a sample file.\n")
    file.write("Python makes file I/O easy!\n")

print("File written successfully!")

# Writing multiple lines
lines = ["First line\n", "Second line\n", "Third line\n"]
with open('sample2.txt', 'w') as file:
    file.writelines(lines)

print("Multiple lines written!")

File written successfully!
Multiple lines written!

### Reading from Files

In [47]:
# Reading entire file
with open('sample.txt', 'r') as file:
    content = file.read()
    print("File content:")
    print(content)

# Reading line by line
print("\nReading line by line:")
with open('sample.txt', 'r') as file:
    for line in file:
        print(f"  {line.strip()}")  # strip() removes newline characters

File content:
Hello, World!
This is a sample file.
Python makes file I/O easy!


Reading line by line:
  Hello, World!
  This is a sample file.
  Python makes file I/O easy!

## 8. Error Handling

Handle errors gracefully using try-except blocks.

In [49]:
# Basic try-except
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

# Multiple exceptions
def safe_divide(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero"
    except TypeError:
        return "Error: Invalid types for division"

print(f"\n10 / 2 = {safe_divide(10, 2)}")
print(f"10 / 0 = {safe_divide(10, 0)}")
print(f"10 / 'a' = {safe_divide(10, 'a')}")

Error: Cannot divide by zero!

10 / 2 = 5.0
10 / 0 = Error: Division by zero
10 / 'a' = Error: Invalid types for division

### Try-Except-Finally

In [24]:
def read_file(filename):
    try:
        with open(filename, 'r') as file:
            return file.read()
    except FileNotFoundError:
        return f"Error: File '{filename}' not found"
    finally:
        print(f"Attempted to read '{filename}'")

# Try reading existing file
content = read_file('sample.txt')
print(f"Content: {content[:30]}...")  # Print first 30 characters

# Try reading non-existent file
print(f"\n{read_file('nonexistent.txt')}")

Attempted to read 'sample.txt'
Content: Hello, World!
This is a sample...
Attempted to read 'nonexistent.txt'

Error: File 'nonexistent.txt' not found

## 9. Practice Exercises

### Exercise 1: FizzBuzz
Write a program that prints numbers from 1 to 20. For multiples of 3, print "Fizz" instead of the number. For multiples of 5, print "Buzz". For multiples of both 3 and 5, print "FizzBuzz".

In [25]:
# Your code here

### Exercise 2: Word Counter
Write a function that takes a string and returns a dictionary with word counts.

In [26]:
# Your code here
def count_words(text):
    # Implement this function
    pass

# Test with: "hello world hello python world"

### Exercise 3: List Statistics
Create a function that takes a list of numbers and returns the mean, median, and mode.

In [27]:
# Your code here

### Exercise 4: Palindrome Checker
Write a function that checks if a string is a palindrome (reads the same forwards and backwards).

In [28]:
# Your code here
def is_palindrome(text):
    # Implement this function
    pass

# Test with: "racecar", "hello", "A man a plan a canal Panama"

### Exercise 5: Grade Calculator
Create a function that takes a dictionary of student scores and returns their letter grades (A: 90-100, B: 80-89, C: 70-79, D: 60-69, F: below 60).

In [29]:
# Your code here

## Congratulations!

You've completed the Python fundamentals course. You now have a foundation in:
- Variables and data types
- Lists, tuples, dictionaries, and sets
- Control structures (if-else, loops)
- Functions and lambda expressions
- List comprehensions
- File I/O
- Error handling

### Next Steps:
- Practice with more coding challenges
- Learn about classes and object-oriented programming
- Explore Python libraries like NumPy, Pandas, and Matplotlib
- Build real-world projects
- Continue learning advanced Python topics

Keep coding and practicing!